.ticket {
    display: flex;
    flex-direction: column;
    width: 90vw;
    padding-left: 1em;
    padding-right: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.34);
    background-color: white;
}

.ticket.hide {
    display: none;
}

.labelList {
    display: flex;
}

.details {
    color: rgb(99, 99, 99);
    font-size: 0.8em;
    font-weight: bold;
}

.hideTicketButton {
    margin-left: auto;
}

.hideTicketButton:hover {
    cursor: pointer;
}